:root {
  --primary-color: #0f62fe;
  --secondary-color: #da1e28;
  --surface-color: #f2f4f8;
  --on-surface-color: #525252;
  --on-surface-dimmed-color: #878d96;
  --warning-color: #f1c21b;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navigation Bar */
#navbar {
  position: relative;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
}
/* Navigation Bar */

/* Empty State Placeholder */
.empty-state-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-left: auto;
  margin-right: auto;
  min-height: 5rem;
  padding: 0.5rem;
}

.empty-state-placeholder-icon {
  margin-right: 0.75rem;
  color: var(--warning-color);
}

.empty-state-placeholder-message {
  color: var(--on-surface-color);
}

#todo-empty-state-placeholder {
  max-width: 42%;
  margin-bottom: 1rem;
  background-color: var(--surface-color);
}
/* Empty State Placeholder */

/* Todo List Container */
.list-container {
  overflow: hidden;
  max-height: 400px;
  min-height: 100px;
  overflow-y: scroll;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.list-container::-webkit-scrollbar {
  display: none;
}
/* Todo List Container */

/* List Item */
.list-item { 
  margin-bottom: 15px !important;
  background-color: var(--surface-color) !important;
  border-radius: 3px !important;
  max-width: 60% !important;
  margin: auto;
}

.todo-item-checked-icon {
  fill: var(--primary-color) !important;
}

.todo-item-date-added {
  justify-self: flex-end;
  text-align: right;
  padding-right: 1.75rem;
}

.todo-item-delete-btn{
  color: var(--secondary-color) !important;
}
/* List Item */

/* Todo Input Group */
#todo-input-group-container {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.todo-input-group-textfield-container {
  width: 100%;
}

.todo-input-group-textfield-container .MuiFilledInput-root {
  background-color: var(--surface-color);
}

.todo-input-group-textfield-container label.Mui-focused {
  color: var(--primary-color);
}

.todo-input-group-textfield-container .MuiFilledInput-underline.Mui-focused:after {
  border-color: var(--primary-color);
}

#todo-input-group-title-field {
  display: block;
  width: 100%;
}

#todo-input-group-add-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;

  width: 100%;
  padding: 0.75rem;

  background-color: var(--primary-color);
}
/* Todo Input Group */